button {
    padding: .5rem;
    font-weight: 600;
    border-radius: .2rem;
    min-width: 10rem;
    height: fit-content;
}

button:hover {
    background-color: darkseagreen;
}

button:focus-visible{
    outline-color:var(--lightest-blue);
}

.btn-primary {
    background-color: var(--medium-blue);
    color: var(--white);
    border-color: var(--white);
    margin: auto
}

.btn-primary:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    border-color: var(--lightest-blue);    
}
