.centered-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.main {
    justify-content: center;
    align-items: center;
    background-color: var(--darkest-blue);
    height: 100vh;
}

.buffer {
    margin: 20px auto;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --darkest-blue: #293133;
    --dark-blue: #2E474C;
    --medium-blue: #337380;
    --light-blue: #249BB3;
    --lightest-blue: #00BEE6;
    --yellow: #F9D53E;
    --white: #FFFFFF;
}