@code {
    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    List<ProcessModel> processModels = DataManager.Instance.State.ProcessModels.Values.ToList();

    private void DeployClick(ProcessModel process)
    {
        ProcessManager.ExecuteProcesses(process);
    }

    private void EditClick(ProcessModel model) => SendModelToPage(model);

    private void NewProcessClick() => SendModelToPage();

    private void SendModelToPage(ProcessModel model)
    {
        string serializedModel = JsonSerializer.Serialize(model.Name);
        string json = HttpUtility.UrlEncode(serializedModel);
        NavigationManager?.NavigateTo($"/process/{json}");
    }
    private void SendModelToPage()
    {
        NavigationManager?.NavigateTo($"/process");
    }
}

<div class="home-page-wrapper centered-content">
    <h1 class="header">Processes</h1>
    <div class="buffer">
        <button @onclick="NewProcessClick" class="btn-primary">New Process</button>
    </div>
    <div class="listborder">
        <ul>
            @foreach (var p in processModels)
            {
                <li>
                    <span>@p.Name</span>
                    <span>
                        <button class="btn-primary" @onclick="() => DeployClick(p)">Deploy</button>
                        <button class="btn-primary" @onclick="() => EditClick(p)">Edit</button>
                    </span>
                </li>
            }
        </ul>
    </div>
</div>
