@code {
    [Parameter]
    public ProcessListDTO DTO { get; set; }

    private List<ProcessModel.DeployableParam>? Params { get; set; }

    private bool ManageExePaths { get; set; } = false;

    private void ToggleExecutablesManager()
    {
        ManageExePaths = !ManageExePaths;
        StateHasChanged();
    }

    public string getButtonText()
    {
        return !ManageExePaths ? " Manage Executables" : "Create Proceses";
    }
}

<div>
    <div class="divrow">
        <button class="btn-primary" @onclick="ToggleExecutablesManager">@getButtonText()</button>
    </div>
    <div>

        <div hidden="@(!ManageExePaths)">
            <ExecutableManagerView />
        </div>

        <div hidden="@(ManageExePaths)">
            <ProcessTableView DTO=@DTO />
        </div>

    </div>
</div>