@code {
    [Parameter]
    public ProcessModel Model { get; set; }

    [Parameter]
    public bool IsNewModel { get; set; }

    [Parameter]
    public string? InitialKey { get; set; }

    private List<ProcessModel.DeployableParams>? Params { get; set; }

    private bool ManageExePaths { get; set; } = false;

    protected override void OnInitialized()
    {
        Params = Model.DeployParametersList;
    }

    private void TogleExecutablesManager()
    {
        ManageExePaths = !ManageExePaths;
        StateHasChanged();
    }

    public string getButtonText()
    {
        return !ManageExePaths ? " Manage Executables" : "Create Proceses";
    }
}



<div>
    <div class="divrow">
        <button class="btn-primary" @onclick="TogleExecutablesManager">@getButtonText()</button>
    </div>
    <div>
        <div hidden="@(!ManageExePaths)">
            <ExecutableManagerView />
        </div>

        <div hidden="@(ManageExePaths)">
            <ProcessCreationView Params=@Params Model=Model IsNewModel=@IsNewModel InitialKey=@InitialKey />
        </div>
    </div>
</div>