@code{

}



<!-- Executable UI -->
<div hidden="@(!ManageExePaths)">
    <h2>Executables</h2>
    <div>

        <button class="btn-primary" @onclick="AddExeClick">Add Executable</button>

        <div>
            @foreach (var e in dataManager.State.Executables)
            {
                <div>
                    <label>Name:</label>
                    <input @bind:event="oninput" @bind=e.Name />
                    <label>Path:</label>
                    <input @bind:event="oninput" @bind=e.Path />
                    <button class="btn-primary" @onclick="() => DeleteExe(e)">Delete</button>
                </div>
            }
        </div>

        <button class="btn-primary" @onclick="SaveExe">Save</button>

    </div>
</div>
