button {
    padding: .5rem;
    font-weight: 600;
    border-radius: .2rem;
    min-width: 10rem;
    height: fit-content;
    border: .1rem solid var(--lightest);
    box-shadow: 2px 2px 5px var(--white);
}

button:hover {
    background-color: darkseagreen;
}

button:focus-visible{
    outline-color:var(--lightest);
}

.btn-primary {
    background-color: var(--darkest);
    color: var(--textcolor);
    border-color: var(--white);
    margin: auto
}

.btn-primary:hover {
    background-color: var(--medium);
    color: var(--textcolor);
    border-color: var(--white);
}
