table {
    width: 100%;
    color: var(--textcolor);
}

    table button {
        width: 8rem;
        color: var(--lightest);
    }

    table span {
        align-content: space-evenly;
        gap: 10px;
    }

th {
    background-color: var(--darkest);
    font: var(--textcolor);
    font-size: 18px;
}

tr {
}

    tr:nth-child(even) {
        background-color: var(--darkest);
    }

    tr:nth-child(odd) {
        background-color: var(--medium);
    }

td {
    padding: .4rem;
    min-width: 20vw;
    text-align: center;
}

    td span {
        display: flex;
        flex-direction: row;
    }

    td span *{
        min-width: 3rem;
    }

.tableContainer {
    display: flex;
    width: 90vw;
    background-color: var(--darkest);
    border: .1rem solid var(--textcolor);
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: auto;
    box-shadow: 2px 2px 5px var(--white);
}

.homeTableContainer {
    max-height: 80vh;
}

.processTableContainer {
    max-height: 40vh;
}
