@page "/process/{keyJson?}"

@code {
    [Parameter]
    public string? KeyJson { get; set; }

    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    private DeployableProcesses Model { get; set; }
    private DataManager dataManager = DataManager.Instance;
    private DeployableProcesses? initialModelCopy;

    private bool isNewModel = false;
    private string? initalKey;

    protected override void OnInitialized()
    {
        if (KeyJson != null)
        {
            string? key = JsonSerializer.Deserialize<string>(KeyJson);
            initalKey = key;

            Model = dataManager.State.ProcessModels[key ?? throw new ArgumentNullException()];
            initialModelCopy = new()
                {
                    Name = Model.Name,
                    DeployParametersList = Model.DeployParametersList
                };
        }
        else
        {
            Model = new();
            isNewModel = true;
        }
    }

    private void NavigateHome() => NavigationManager?.NavigateTo("/");
    private void BackClick() => NavigateHome();

    private void DeleteClick()
    {
        if (initialModelCopy != null)
        {
            dataManager.RemoveProcess(initialModelCopy);
            NavigateHome();
        }
    }

    private ProcessListDTO getDTO()
    {
        return new ProcessListDTO(Model, isNewModel, initalKey);
    }
}

<div class="process-builder">
    <div class="btn-container">
        <button class="btn-primary" @onclick="BackClick">Back</button>
        @if (initialModelCopy != null)
        {
            <button class="btn-primary" @onclick="DeleteClick">Delete</button>
        }
    </div>

    <ProcessListComp DTO=@getDTO() />

</div>
