@page "/process/{modelJson?}"

@code {
    [Parameter]
    public string? ModelJson { get; set; }

    private ProcessModel Model { get; set; }

    private DataManager dataManager = DataManager.Instance;

    private ProcessModel? initialModelCopy;

    protected override void OnInitialized()
    {
        if (ModelJson != null)
        {
            string? key = JsonSerializer.Deserialize<string>(ModelJson);
            if (!string.IsNullOrEmpty(key))
            {
                Model = dataManager.State.ProcessModels[key];
                initialModelCopy = new()
                    {
                        Name = Model.Name,
                        DeployParametersList = Model.DeployParametersList
                    };
            }
        }
        else
        {
            Model = new();
        }
    }

    [Inject]
    private NavigationManager? NavigationManager { get; set; }
    private void NavigateHome() => NavigationManager?.NavigateTo("/");

    private void AddProcessClick() => Model.DeployParametersList.Add(new ProcessModel.DeployableParams());


    private void SubmitClick()
    {
        if (!string.IsNullOrEmpty(Model.Name))
        {
            if (initialModelCopy == null)
            {
                dataManager.AddNewProcess(Model);
            }
            else
            {
                dataManager.UpdateProcess(initialModelCopy, Model);
            }
            NavigateHome();
        }
    }

    private void BackClick() => NavigateHome();

    private void DeleteClick()
    {
        if (initialModelCopy != null)
        {
            dataManager.RemoveProcess(initialModelCopy);
            NavigateHome();
        }
    }
}

<div class="process-builder">
    <div class="btn-container">
        <button class="btn-primary" @onclick="BackClick">Back</button>
        @if (initialModelCopy != null)
        {
            <button class="btn-primary" @onclick="DeleteClick">Delete</button>
        }
    </div>

    <div class="centered-content">

        <div class="divrow">
            <label>Name: </label><input @bind=Model.Name autocomplete="nope" />
        </div>

        <ProcessListComp Model=Model />

        <div>
            <button class="divrow btn-primary" @onclick="SubmitClick">Submit</button>
        </div>
    </div>
</div>
