.base {
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    height: 100vh;
    padding: 2rem
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--textcolor);
    font-weight:600;
}

:root {
    --darkest: #1A1A1A;
    --dark: #2D2D30;
    --medium: #252525;
    --light: #7c7e80;
    --lightest: #c6c9cc;
    --yellow: #F9D53E;
    --white: #FFFFFF;
    --textcolor: #AFB1B3;
}