.process-builder > .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


    .process-builder > .btn-container > .btn-primary {
        margin: 20px;
    }
