@code {
    [Parameter]
    public EventCallback SaveClickCallback { get; set; }

    private DataManager dataManager = DataManager.Instance;

    private List<Executable> Exes = null!;

    protected override void OnInitialized()
    {
        Exes = new List<Executable>(dataManager.State.Executables);
    }

    public void AddExeClick()
    {
        Exes.Add(new Executable("", ""));
        StateHasChanged();
    }

    public void DeleteExe(Executable exe)
    {
        Exes.Remove(exe);
        StateHasChanged();
    }

    public void SaveExe()
    {
        dataManager.State.Executables = Exes;
        dataManager.SyncData();
        SaveClickCallback.InvokeAsync();
    }
}

<div class="centered-content">
    <div class="outerDiv">
        <h2 class="subtitle">Executables</h2>
        <button class="btn-primary" @onclick="AddExeClick">Add Executable</button>
        <div class="tableContainer processTableContainer">
            <table>
                <thead> </thead>
                <tbody>
                    @foreach (var e in Exes)
                    {
                        <tr>
                            <td>
                                <label>Name:</label>
                                <input @bind:event="oninput" @bind=e.Name />
                            </td>
                            <td>
                                <label>Path:</label>
                                <input @bind:event="oninput" @bind=e.Path />
                            </td>
                            <td>
                                <button class="btn-primary" @onclick="() => DeleteExe(e)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button class="btn-primary" @onclick="SaveExe">Save</button>
    </div>
</div>